:root{
	--btn_bg: #5b98b9;
	--btn_color: #fff;     
	--btn_hover_bg: #fff;  
	--a_href_color: #5b98b9; 	 
	--level_1_color: #666;  		
	--product_price_color: #222;	
	--product_title_color: #30323A;	
	--remove_color: #d08c8c;
	--footer_bg: #d6eaf5;		
	--header_bg: #fff;		
	--top_menu_bg: #f2f2f2;	
	--menu_bg: #d6eaf5;
	--body_color: #666;
	--login_btn_bg: transparent;
	--login_btn_color: #666;
	--body_bg: #fff;
	--top_menu_color: #666;
	--h2_color: #30323A;
	--border_bottom: #eaf5fa;
	--title-background: #f4fafc;
	--cart_number_bg: #5b98b9;
	--categories_title_bg: transparent;
	--categories_level_1_bg: #fff;
	--categories_level_2_bg: #fff;
	--level_2_color: #666;
	--inner_body_bg: #fff;
	--product_bg: #fff;
	--product_bottom_bg: #fff;
	--review_star_color: #5b98b9;
	--paragraph_color: #fff;
	--h5_color: #fff;
	--input_bg_color: #fff;
	--breadcrumb_bg: #f4fafc;
	--view-buttons: #bfbfbf;
	--product_list_bg: #f9f9f9;
	--currency_bg: transparent;
	--currency_color: #000;
	--filters_bg: #fff;
 	--pagination_bg: #fff;
 	--pagination_color:#ccc;
    --pagination_color_active:  #337ab7;
    --article_product_price_color: #44aacb;
    --discount_price_color: #44aacb;
    --sale_action_price_bg: #5b98b9;
  	--sale_action_bg: #ccc;
  	--product_old_price_color: #9ec5da;
  	--label_color: #222;
  	--scroll_top_bg: #fff;
  	--global_color: #5b98b9;
	}